<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
    <link rel="stylesheet" href="../static/styles/style.css">

</head>

<body id="website"> 
    <h1 id="Title">Here's Your Completed Madlib </h1>
    <div id="text_div">
        <p id="text">
        On one {{ dayoftheweek }}, a man named {{ name }} went to {{ place1 }}. He's retired now, but he {{ pasttenseverb1 }} for a living, and made ${{ income }} a year. Now, in his freetime, he likes to dress up as a {{ noun1 }}. He likes to go to {{ noun1 }} coneventions, which are always hosted in {{ place2 }} for some reason. Last year, at one of the conventions, he was arrested because he {{ pasttenseverb2 }} another convestion goer becuase they were dressed as a {{ noun2 }}.
      </p>
    </div>

</body>
</html>