#everything{
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    display: flexbox;
    height: 1000px;
}

#submission{
    background-color: purple;
    width: 100%;
    height: 50%;
}

#fillInText{
    color: white;
}

.madlibsQuestion{
    width: 200px;
    height: 50px;
    display: inline-block;
    flex-wrap: wrap;

}