#body{
    background-color: rgb(37, 35, 35);
}

.Text{
    color: whitesmoke;
    text-align: center;
}

#submissionBox{
    background-color: rgb(10, 10, 96);
    border-radius: 10px;
}

.madlibsQuestion{
    height: 50px;
    width: 250px;
    margin: 5px;
}

